/App-GameMania-*
/.build
/_build*
/Build
MYMETA.*
!META.json
/.prove

share/ko/node_modules/
share/ko/*/bower_modules/

# Don't track build output
share/ko/dist/
share/ko/gsrc/

# config
app-game_mania.conf