<canvas id="game-area"></canvas>

            <div class="btn-group" id="settings">
                <a class="btn btn-default" data-bind="click: pausePong" href="#">Pause</a>
            </div>
<div id="debug">
    
            <table class="table table-condensed table-striped" class="table table-condensed table-striped">
            
        <tbody>
            <tr>
                <td>Speed</td>
                <td id="speed"></td>
            </tr>
            <tr>
                <td>Bearing</td>
                <td id="bearing"></td>
            </tr>
            <tr>
                <td>LeftRightEdge</td>
                <td id="left-paddle"></td>
            </tr>
            <tr>
                <td>Ball X</td>
                <td id="ball-x"></td>
            </tr>
            <tr>
                <td>Ball Y</td>
                <td id="ball-y"></td>
            </tr>
        </tbody>

            </table>
        </div>
