#title {
    position: absolute;
    text-align: center;
    width: 600px;
    left: 50%;
    right: 50%;
    margin-left: -300px;
    color: #777;
    text-shadow: 0px 0px 30px #eee,
                -1px -1px 0px #555,
                 1px -1px 0px #555,
                -1px  1px 0px #555,
                 1px  1px 0px #555;

    font-family: 'courier new', courier, 'sans-serif';
}

#scorer, .splash {
    position: absolute;
    text-align: center;
}
#scorer h2, #header {
    color: #555;
}
#scorer p {
    color: #888;
}
.splash {
    padding: 20px;
    left: 50%;
    right: 50%;
    border: 3px solid #56597c;
    background-color: #9eb8d8;
    color: #704b46;
}
