#scorer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 150px;
    margin-top: -230px;
    text-align: center;
}
#scorer h2 {
    font-size: 30px;
    color: #555;
}
#scorer p {
    font-size: 60px;
    color: #888;
}