<div id="finne-page" data-ws-url="http://localhost:3002/finne/ws">
    <canvas></canvas>
    %= button 'Clear games', data => { bind => 'click: clearAllGames' }, danger, style => 'position: absolute; top: 0px; left: 0px;'
    <div id="chat">
        <ul class="list-unstyled" id="chat-log" data-bind="foreach: chat.chatMessages">
            <li data-bind=" css: className">
                <span data-bind="text: message"></span>
            </li>
        </ul>
%= form_for 'finne_chat', data => { bind => 'submit: submitChatMessage' }, begin
    %= formgroup text_field => ['chat', data => { bind => 'value: chatMessage'} ]
% end
    </div>
</div>


<div id="finne-intro" class="modal" data-bind="modalVisible: function() { return !gameIsInProgress() }">
    <div class="modal-dialog">
        <div class="modal-content">
            %= form_for 'finne_intro', data => { bind => 'submit: newGame' }, begin
                <div class="modal-header">
                    <h4>New game</h4>
                </div>
                <div class="modal-body">
                    <div>
                        %= formgroup 'Your name', text_field => ['name', data => { bind => 'value: possibleName' } ]
                        %= formgroup 'Game code', text_field => ['unused', 'abcde', disabled => 'disabled']
                        %= formgroup 'Enter game code', text_field => ['gamecode', 'abcde']
                    </div>
                </div>
                <div class="modal-footer">
                    %= submit_button 'Start playing', primary
                    %= button 'Clear games', data => { bind => 'click: clearAllGames' }, danger
                </div>
            % end
        </div>
    </div>
</div>

<div id="finne-card-choices" class="modal" data-bind="modalVisible: function() { return popupCardChoices().length }">
    <div class="modal-dialog">
        <div class="modal-content">
            %= form_for '#', data => { bind => 'submit: popupMakeMove' }, begin
                <div class="modal-header">
                    <h4>Choices</h4>
                </div>
                <div class="modal-body">
                    <h4>Choose cards to play</h4>
                    <div class="btn-group-vertical" data-toggle="buttons" data-bind="foreach: popupCardChoices">
                        <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off" class="card-choices" name="card-choices" data-bind="value: suit" />
                            <span data-bind="text: value"></span> of <span data-bind="text: suit">
                        </label>
                    </div>
                    <h4>Choose card destination</h4>
                    <div class="btn-group-vertical" data-toggle="buttons" data-bind="foreach: popupCardDestinations">
                        <label class="btn btn-primary">
                            <input type="radio" autocomplete="off" class="card-destination" name="card-destination" data-bind="value: to" />
                            <span data-bind="text: to"></span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    %= submit_button 'Start playing', primary
                    %= button 'Cancel move', class => 'closer', data => { dismiss => 'modal' }, danger
                </div>
            % end
        </div>
    </div>
</div>