body, html, #page, #page > div {
    margin: 0px;
    padding: 0px;
}
body,
html,
#page {
    height: 100%;
}
#game-area {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #444;
}

#settings {
    position: absolute;
    top: 20px;
    left: 50%;
    right: 50%;
    margin-left: -34px;
}

#debug {
    background-color: #555;
    color: #999;
    position: absolute;
    bottom: 20px;
    left: 222px;
    width: 200px;
}